/** COLORES */
html {
  scroll-behavior: smooth;
}

html, body {
  overflow-y: auto;
  overflow-x: 100vh;
}

body {
  position: relative;
  min-height: 100vh;
}

main {
  height: auto;
  width: 100%;
  background-color: white;
}

h1, h2, h3 {
  color: #333;
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

p {
  background-color: white;
  height: 200px;
  width: 300px;
  overflow: hidden;
  text-align: center;
  padding: 100px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}

footer {
  text-align: center;
  font-size: 30px;
  background-color: rgb(151, 207, 163);
  color: white;
  margin-top: 0px;
  height: 200px;
  padding-top: 20px;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 15px;
}

footer a:hover {
  color: #333;
}

.navbar {
  background-color: rgb(151, 207, 163);
  width: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
}

.nav-link {
  color: #333 !important;
  font-size: 24px !important;
}

.nav-link:hover {
  color: white !important;
}

.navbar-brand {
  font-weight: bold;
  color: white !important;
  font-size: 30px;
  text-align: center;
}

.navbar-brand span {
  color: #333;
}

.navbar-toggler {
  color: #333 !important;
}

.feat {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 85px;
}

.feat h4 {
  margin-top: 80px;
  text-align: center;
  color: #333;
  font-size: 26px;
}

.feat img {
  margin-top: 20px;
  object-fit: cover;
  height: 300px;
}

.feat .boton {
  text-decoration: none;
  color: white;
  background-color: rgb(151, 207, 163);
  padding: 5px 30px 5px 30px;
  margin-bottom: 10px;
  border-radius: 7px;
}

.feat .boton:hover {
  background-color: #333;
}

.galeria, .galeria2 {
  background-color: rgb(151, 207, 163);
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat 8, 200px;
  padding: 80px 20px;
  grid-gap: 20px;
}

.item {
  border: 3px solid #000;
  background-size: cover;
  background-position: center;
}

.item1 {
  background-image: url(../img/debora.jpg);
}

.item2 {
  background-image: url(../img/florencia.png);
}

.item3 {
  background-image: url(../img/flores.png);
}

.item4 {
  background-image: url(../img/minimal.jpg);
}

.item5 {
  background-image: url(../img/compu.jpg);
}

.item6 {
  background-image: url(../img/estudio.jpg);
}

.item7 {
  background-image: url(../img/notebook.jpg);
}

.item8 {
  background-image: url(../img/bien.jpg.jpg);
}

.container-fluid2 {
  background-image: url(../img/planta.jpg);
}

form {
  width: 100%;
  height: 100vh;
  background-color: rgb(151, 207, 163);
  padding-top: 100px;
  background-image: url(../img/planta.jpg);
}

form input {
  width: 50%;
  font-size: 25px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  margin: 10px;
}

form input::placeholder {
  color: #333;
}

form textarea {
  width: 50%;
  font-size: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
}

form textarea::placeholder {
  color: rgb(151, 207, 163);
}

form #enviar {
  background-color: rgb(151, 207, 163);
  font-size: 25px;
  border: 2px solid black;
  padding: 0px;
  margin: 0px;
}

form #enviar:hover {
  background-color: #333;
}

.section3 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: white;
  padding: 30px;
  gap: 20px;
}

.card {
  width: 350px;
  background-color: rgb(151, 207, 163);
  padding: 15px;
  align-items: center;
}

.card__img, .card__img3, .card__img2 {
  background-image: url(../img/nosotros.jpg);
  height: 200px;
  width: 100%;
}

.card__title {
  text-align: center;
  font-size: 28px;
  color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
}

.boton {
  text-decoration: none;
  color: rgb(151, 207, 163);
  background-color: white;
  padding: 5px 30px 5px 30px;
  margin-bottom: 50px;
  border-radius: 7px;
}

.boton:hover {
  background-color: #333;
  color: white;
}

.section1, .section2 .nright {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 20px;
}

.section1 .boton, .section2 .nright .boton {
  text-decoration: none;
  color: white;
  background-color: rgb(151, 207, 163);
  padding: 10px 30px 10px 30px;
  border-radius: 7px;
}

.section1 .boton:hover, .section2 .nright .boton:hover {
  background-color: #333;
}

.section2 {
  display: flex;
  flex-wrap: nowrap;
}

.section2 .nleft {
  background-image: url(../img/nosotros.jpg);
  background-size: cover;
  background-position: center;
  height: 330px;
  width: 100%;
}

.nizq {
  background-color: #333;
  background-image: url(../img/escritorio.jpg);
  background-size: cover;
  background-position: center;
  height: 755px !important;
}

.nder {
  padding: 60px 20px 20px 150px !important;
}

.carousel-inner img {
  background-position: center;
  size: small;
}

.mapa {
  padding-top: 200px;
}

/*.container-fluid2{
    background-image: url(../img/planta.jpg);
}*/
/*.row p{
    margin-top: 80px !important;
    margin-left: 120px !important;
}*/
@media only screen and (min-width: 320px) {
  .galeria, .galeria2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
  }
  .nizq {
    background-color: #333;
    background-image: url(../img/escritorio.jpg);
    background-size: no repeat 60px;
    background-position: center;
    height: 300px;
  }
  .nder {
    padding: 20px 80px 0px 0px !important;
    text-align: center;
    align-items: center;
    columns: 1;
  }
  .row p {
    margin: 20px 80px 15px 0px !important;
  }
}
@media only screen and (min-width: 480px) {
  .nosotros .nleft {
    width: 50%;
  }
  .nosotros .right {
    width: 50%;
  }
  .galeria, .galeria2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
  }
  .footer {
    text-align: center;
    padding: 40px 20px 40px 20px;
    background-color: rgb(151, 207, 163);
    height: auto;
  }
  .nizq {
    background-color: #333;
    background-image: url(../img/escritorio.jpg);
    background-size: no repeat 60px;
    background-position: center;
    height: 300px;
  }
  .nder {
    padding: 20px 100px 20px 0px !important;
    text-align: center;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .galeria, .galeria2 {
    grid-template-columns: repeat(3, 1fr);
  }
  .item1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .item2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .item3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .item4 {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .item5 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .item6 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .item7 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .item8 {
    grid-column: 2/4;
    grid-row: 4/5;
  }
  .footer {
    text-align: center;
    padding: 40px 20px 40px 20px;
    background-color: rgb(151, 207, 163);
    height: auto;
  }
  .nder {
    padding: 20px;
    text-align: center;
    display: block;
    align-items: center;
  }
  .row p {
    margin-top: 40px;
    margin-left: 10px;
    align-items: center;
  }
}
@media only screen and (min-width: 1024px) {
  .galeria, .galeria2 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 200px;
  }
}
.nder {
  padding: 20px;
  text-align: center;
  display: block;
  align-items: center;
}

.row p {
  margin-top: 80px !important;
  margin-left: 120px !important;
}

/*# sourceMappingURL=style.css.map */
