@import '../scss/componentes/footer';
@import '../scss/componentes/header';
@import '../scss/componentes/feat';
@import '../scss/componentes/galeria';
@import '../scss/componentes/contacto';
@import '../scss/componentes/form';
@import '../scss/componentes/card';

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    height: auto;
    width: 100%;
    background-color: white;
}

.section1{
    display:flex;
    text-align: center;
    align-items: center;  
    flex-direction: column; 
    margin-top: 0px;
    margin-bottom: 20px;
}

.section1 .boton{

    text-decoration: none;
    color: white;
    background-color: rgb(151, 207, 163);
    padding: 10px 30px 10px 30px;
    ;

    border-radius: 7px;
}

.section1 .boton:hover{
    background-color: #333;
}
    

.section2{
    display: flex;
    flex-wrap: nowrap;
}

.section2 .nleft{
    background-image: url(../img/nosotros.jpg);
    background-size: cover;
    background-position: center;
    height: 330px;
    width: 100%;
}

.section2 .nright{
    @extend .section1;
}

p{
background-color: white;
height: 200px; 
width: 300px;
overflow: hidden;
text-align:center;
padding: 70px 20px;
display:flex;
justify-content: space-around;
align-items: center;   

}

.carousel-inner img{
    
    background-position: center;
    size: small;
}

.galeria2{
    @extend .galeria;
}


