@import '../scss/componentes/footer';
@import '../scss/componentes/header';
@import '../scss/componentes/servicios';
@import '../scss/componentes/trabajos';
@import '../scss/componentes/contacto';

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
