*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    height: auto;
    width: 100%;
    background-color: white;
}


html{
    scroll-behavior: smooth;
}

html, body {
    overflow-y:auto;
    overflow-x:hidden;

}

body{
    position: relative;
    min-height: 100vh;
}