.section3{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: white;
    padding: 30px;
    gap: 20px;
} 


.card{
 
    width: 350px;
    background-color:  rgb(151, 207, 163);
    padding: 15px;
    align-items: center;

}


.card__img{
    background-image: url(../img/nosotros.jpg);
    height: 200px;
    width: 100%;
}
.card__img2{
    @extend .card__img;
 

}
.card__img3{
    @extend .card__img;
    

}

.card__title{
    text-align: center;
    font-size: 28px;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
}


.boton{
    text-decoration: none;
    color: rgb(151, 207, 163);
    background-color:white;
    padding: 5px 30px 5px 30px;
    margin-bottom: 50px;
    border-radius: 7px;
}

.boton:hover{
background-color: #333;
color:white;
}