.section3{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: $color-white;
    padding: 30px;
    gap: 20px;
} 


.card{
    width: 350px;
    background-color: $color-green;
    padding: 15px;
    align-items: center;

}


.card__img{
    background-image: url(../img/nosotros.jpg);
    height: 200px;
    width: 100%;
}
.card__img2{
    @extend .card__img;
}
.card__img3{
    @extend .card__img;
    

}

.card__title{
    text-align: center;
    font-size: 28px;
    color: $color-black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
}


.boton{
    text-decoration: none;
    color: $color-green;
    background-color: $color-white;
    padding: 5px 30px 5px 30px;
    margin-bottom: 50px;
    border-radius: 7px;
}

.boton:hover{
background-color: $color-black;
color:white;
}