.nizq{
    background-color: $color-black;
    background-image: url(../img/escritorio.jpg);
    background-size: cover;
    background-position: center;
    height: 755px !important;

}
.nder{
padding: 60px 20px 20px 150px !important;
}
