.feat{
    display:flex;
    text-align: center;
    align-items: center;  
    flex-direction: column; 
    padding: 85px;

}

.feat h4{
    margin-top: 80px;
    text-align: center;
    color: $color-black;
    font-size: 26px;
    
}

.feat img{
    margin-top: 20px;
    object-fit: cover;
    height: 300px;
    
}

.feat .boton{
    text-decoration: none;
    color: $color-white;
    background-color: $color-green;
    padding: 5px 30px 5px 30px;
    margin-bottom: 10px;
    border-radius: 7px;
}

.feat .boton:hover{
    background-color: $color-black;
}

