footer{
    text-align: center;
    font-size: 30px;
    background-color: rgb(151, 207, 163);
    color:  white;
    margin-top: 0px;
    height: 100px;
    padding-top: 20px;
    
    
    
    

}

footer a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 15px;
    
    
}

footer a:hover{
    color:#333;
}
