form{
    width: 100%;
    height: 100vh;
    background-color: $color-green;
    padding-top: 100px;
    background-image: url(../img/planta.jpg);
    

}

form input{
    width: 50%;
    font-size: 25px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    margin: 10px;
}

form input::placeholder{
    color:$color-black;
}

form textarea{

    width:50%;
    font-size: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
}

form textarea::placeholder{
    color: $color-green;
}

form #enviar{
    background-color: $color-green;
    font-size: 25px;
    border: 2px solid black;
    padding: 0px;
    margin: 0px;
}

form #enviar:hover{
    background-color: $color-black;
}