.galeria{
    background-color: $color-green;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (8, 200px) ;
    padding: 80px 20px;
    grid-gap: 20px;
}

.item{
    border: 3px solid #000;
    background-size: cover;
    background-position: center;
}

.item1 {
background-image: url(../img/debora.jpg);

}

.item2{
background-image: url(../img/florencia.png);
}

.item3{
background-image: url(../img/flores.png);
}

.item4{
background-image: url(../img/minimal.jpg);
}
.item5{
background-image: url(../img/compu.jpg);
    }
.item6{
background-image: url(../img/estudio.jpg);
}
.item7{
background-image: url(../img/notebook.jpg);
}
.item8{
background-image: url(../img/bien.jpg.jpg);
}


