.navbar{
    background-color:  rgb(151, 207, 163);
    width: 100%;
    position:absolute;
    z-index: 3;
    top:0;
    left: 0;
    
}

.nav-link{
    color: #333 !important;
    font-size: 24px !important;
    font-weight: bold;
}

.nav-link:hover{
    color:white !important;
}



.navbar-brand{
font-weight: bold;
color:  white !important;
font-size: x-large;
text-align: center;

}

.navbar-brand span{
color: #333;

}

.navbar-toggler{
color: #333 !important;
}
