.navbar{
    background-color: $color-green;
    width: 100%;
    position:absolute;
    z-index: 3;
    top:0;
    left: 0;
    
}

.nav-link{
    color: $color-black !important;
    font-size: 24px !important;
    font-weight: bold;
}

.nav-link:hover{
    color: $color-white !important;
}

.navbar-brand{
font-weight: bold;
color: $color-white !important;
font-size: 30px;
text-align: center;

}

.navbar-brand span{
color: $color-black;

}

.navbar-toggler{
color: $color-black !important;
}
